.App {
  text-align: center;
}


input {
  width: 20%;
  min-width: 200px;
  padding: 10px 5px;
  font-size: 20px;
}

button {
    font-size: 20px;
    padding: 12px 15px;
    border-radius: 5px;
    margin-left: 8px;
}

.board {
    width:100%;
    max-width: 600px;
    margin: 0 auto;
}

.emojiCell {
  width: 18%;
  min-width: 70px;
  height: 70px;
  line-height: 75px;
  font-size: 50px;
  margin: 5px;
  padding: 5px;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  background: #E8E8E8;
}

.selected {
  background: #A8A8A8;
}

.prompt {
  width: 90%;
  max-width:500px;
  margin:10px auto;
  font-size: 16px;
}

.userList {
  font-size: 20px;
}

.playerMessage {
  font-size: 20px;
}

.voterName {
  position: absolute;
  font-size: 15px;
  z-index:1;
}
